{% extends 'main.html' %}

{% block title %}List task{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary active" href="{{ url_for('todo.list_task') }}">Tasks</a>
            <a class="btn btn-primary" href="{{ url_for('todo.list_category') }}">Categories</a>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <a style="float: right" class="btn btn-success" href="{{ url_for('todo.create_task') }}">Create</a>
        </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Deadline</th>
          <th scope="col">Priority</th>
          <th scope="col">Progress</th>
          <th scope="col">Category</th>
          <th scope="col">Owner</th>
          <th scope="col">Assigned</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_list %}
            <tr>
              <td><a href="{{ url_for('todo.detail_task', task_id=task.id) }}">{{ task.title }}</a></td>
              <td>{{ task.deadline }}</td>
              <td>{{ task.priority.name }}</td>
              <td>{{ task.progress.name }}</td>
              <td>{{ task.category.name }}</td>
              <td><a href="{{ url_for('todo.user_profile', user_id=task.owner_id) }}">{{ task.owner_id }}</a></td>
              <td>
                  {% for user in task.users %}
                      <p><a href="{{ url_for('todo.user_profile', user_id=user.id) }}">{{ user.username }}</a></p>
                  {% endfor %}
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
