{% extends 'layout.html' %}

{% block title %} Education {% endblock %}

{% block name %}
<br><h1 class="text-center">Education</h1>
{% endblock %}

{% block body %}
<br><hr><br>

<h4 class="text-center">2009-2020</h4>
<p class="text-center">Studying at the School of Rokosovo, Transcarpathian</p><br><br>

<h4 class="text-center">2020</h4>
<p class="text-center">Graduated from the School of Rokosovo</p>
<p class="text-center">Enrolled in the first year of studies at Vasyl Stefanyk Precarpathian National University</p><br><br>

<h4 class="text-center">2020-now</h4>
<p class="text-center">Studying at the Vasyl Stefanyk Precarpathian National University</p>

<br><hr><br>
{% endblock %}
