{% extends 'layout.html' %}

{% block title %} Skills {% endblock %}

{% block name %}
<br><h1 class="text-center">Skills</h1>
{% endblock %}

{% block body %}
<br><br>
<div class="container">

<!------------------------------------------------------------------------------------------------------------->
  <div class="row">
      <h4 class="text-center">Front-End Languages</h4>
    <div style="color:#7a9157" class="col text-center">
      <br><br><h5>HTML</h5>
    </div>

    <div style="color:#7a9157" class="col text-center">
        <br><br><h5>CSS</h5>
    </div>

    <div style="color:#7a9157" class="col text-center">
        <br><br><h5>JavaScript</h5>
    </div>
  </div>
    <br><hr><br><br>
<!------------------------------------------------------------------------------------------------------------->
    <div class="row">
      <h4 class="text-center">Back-End Languages</h4>
    <div style="color:#7a9157" class="col text-center">
      <br><br><h5>JavaScript</h5>
    </div>

    <div style="color:#7a9157" class="col text-center">
        <br><br><h5>Python</h5>
    </div>

    <div style="color:#7a9157" class="col text-center">
        <br><br><h5>PHP</h5>
    </div>
  </div>
    <br><hr><br><br>
<!------------------------------------------------------------------------------------------------------------->
    <div class="row">
      <h4 class="text-center">Data Science Libs (Python)</h4>
    <div style="color:#7a9157" class="col text-center">
      <br><br><h5>Numpy</h5>
    </div>

    <div style="color:#7a9157" class="col text-center">
        <br><br><h5>Pandas</h5>
    </div>

    <div style="color:#7a9157" class="col text-center">
        <br><br><h5>Matplotlib</h5>
    </div>

    <div style="color:#7a9157" class="col text-center">
        <br><br><h5>Sklearn</h5>
    </div>
  </div>
<!------------------------------------------------------------------------------------------------------------->

</div>
<br><br>

{% endblock %}
